.tabs {
    width: 100%;  
    list-style: none;
    position: relative;
    text-align: left;
    background: white;
    height: 50px;
    li {
        display: block;  
        margin: 0;
        padding: 0; 
        float: left;
        width: 40%;
        input[type="radio"] {
            display: none;
        }
        label {
            display: block;
            padding: 15px 0;
            @include fontSite(txt-default,1.3em,wregular);
            text-transform: uppercase;
            background: $scolor-darkgold;
            cursor: pointer;
            position: relative;
            text-align: center;
            height: 50px; 
            transition:all 0.2s ease-in-out;
            color: white;
            &:hover {
                background: darken($pcolor-pink, 10);
            }
        }
        &:nth-child(2) {
            width: 60%;

        }
    }
    .tabs-content{
        z-index: 2;
        display: none; 
        overflow: hidden;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0; 
        background: white;
        color: $scolor-darkblack;
    }
    //The Magic
    [id^="tab"]:checked + label { 
        background: darken($pcolor-pink, 15); 
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
        display: block;
    }
}
//--------------------------------------
//ACORDEON
//--------------------------------------
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    .tab-input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    .label-tab {
        position: relative;
        display: block;
        line-height: 3;
        cursor: pointer;
        color: $scolor-darkblack !important;
        background: white !important;
        padding: 0 !important;
        border-bottom: 1px solid rgba($scolor-darkblack, 0.15); 
    }
    .tab-content {
        color: $scolor-darkblack;
        max-height: 0;
        overflow: hidden;
        background: #1abc9c;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
    }

    /* :checked */
    .tab-input:checked ~ .tab-content {
        max-height: 10em;
    }
    /* Icon */
    label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }
    input[type=checkbox] + label::after {
        content: "+";
    }
    input[type=radio] + label::after {
        content: "\25BC";
    }
    input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
    }
    input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
    }
}  