.container{
  margin: 0 auto;
  max-width: 1300px;
  width: 90%;
}
.header-flex{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
}
.wrapper-flex{
  @media (min-width:900px) {
    display: flex;
    justify-content: space-between;
  }
}
.hidden-lg{
  @media (min-width:900px) {
    display: none;
  }
}

