.foo-banner{
  background: linear-gradient(to right,rgba(152,6,110,.8) ,rgba(31,13,85,.8)), url(../images/bg_banner.jpg);
  background-position: center,center;
  background-size: cover;
  padding: 15px 0;
  width: 100%;
  z-index: 0;
  @media (min-width:900px) {padding: 30px 0;}
}
.header-flex{
  & > .title{display: inline-block;}
}

.main-banner{
  margin: 140px 0;
}
.banner{
  > .title{
    font-size: 3em;
    line-height: 1em;
    margin: 0 auto;
    text-align: center;
    > span{
      color: $scolor-darkgold;
    }
  }
  & > .description{
    font-size: 1.325em;
    margin: 15px 0;
    max-width: 460px;
    width: 75%;
    @include font-weight (wlight);
  }
}

.banner-schedule{
  background: white;
  border-radius: 0.225em;
  color: $scolor-darkgold;
  margin: 75px auto;
  padding: 25px;
  position: relative;
  > .title{
    text-align: center;
  }
  > .schedule-form{
    margin: 0 auto;
    @media (min-width:900px){display: flex;}
    > .btn{
      background: $pcolor-pink;
      color: white;
      display: block;
      margin: 30px auto;
    }
  }
  &:after{
    content: url(../images/arrow_down.png);
    position: absolute;
    left: calc(50% - 32px/2);
    animation: arr-down .8s infinite ease-out;
  }
}
.schedule-form .field{
  margin: 20px 30px;
  & .select-default{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid pink;
    color: black;
    font-size: 1em;
    padding: 10px 0;
    width: 100%;
    @include font-weight(wlight);
  }
}

.how_it_works{
  background: white;
  justify-content: space-between;
  padding: 30px 0;
  text-align: center;
  > .title{
    color: $pcolor-pink;
    font-size: 2.6em;
    position: relative;
    @include font-weight(wbold);
    &:after{
      content: '';
      background: $pcolor-lightpurple;
      position: absolute;
      bottom: -10px;
      left: calc(50% - 80px/2);
      height: 6px;
      width: 80px;
    }
  }
  > .subtitle{
    color: #666666;
    font-size: 1.2em;
    margin-top: 15px;
    @include font-weight(wlight);
  }
}

// vamos refatorar :D
.how_it_works .flexchild{
  max-width: 280px;
  margin: 0;
  padding: 160px 20px 60px;
  position: relative;
  text-align: center;
  @media (min-width:900px){margin: 80px 0;}
  &.calendar:before{
    content: url(../images/ICON_CALENDAR.png);
    position: absolute;
    top: 0;
    left: calc(50% - 120px/2);
  } 
  &.location:before{
    content: url(../images/ICON_PIN.png);
    position: absolute;
    top: 0;
    left: calc(50% - 104px/2);
  } 
  &.price:before{
    content: url(../images/ICON_TAG.png);
    position: absolute;
    top: 0;
    left: calc(50% - 82px/2);
  } 
  > .title{
    color: $pcolor-pink;
    font-size: 1.2em;
    line-height: 2em;
    @include font-weight(wsemibold);
  }
  > .description{
    color: $pcolor-lightpurple;
    @include font-weight(wlight);
  }
}