.foo-banner{
  background: linear-gradient(to right,rgba(152,6,110,.8) ,rgba(31,13,85,.8)), url(../images/bg_banner.jpg);
  background-position: center,center;
  background-size: cover;
  padding: 15px 0;
  width: 100%;
  z-index: 0;
  @media (min-width:900px) {padding: 30px 0;}
}
.header-flex{
  & > .title{display: inline-block;}
}

.main-banner{
  margin: 160px 0 60px;
  position: relative;
  @media (min-width:900px) {
    padding-bottom: 50px;
  }
  &:after{
    content: url(../images/arrow_down.png);
    position: absolute;
    left: calc(50% - 32px/2);
    animation: arr-down .8s infinite ease-out;
  }
}
.banner{
  & > .title{
    font-size: 4em;
    line-height: 1em;
    max-width: 380px;
    & span{
      color: $scolor-darkgold;
    }
  }
  & > .description{
    font-size: 1.325em;
    margin: 15px 0;
    max-width: 460px;
    width: 75%;
    @include font-weight (wlight);
  }
}

.banner-schedule{
  max-width: 380px;
  & > .schedule-form{
    margin: 0 auto;
    & > .btn{
      background: $pcolor-pink;
      color: white;
      display: block;
      margin: 30px auto;
    }
  }
}
.schedule-form .field{
  margin: 20px 0;
  & .select-default{
    border-radius: 0;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 10px 0;
    width: 100%;
    @include font-weight(wlight);
  }
}