
.subtitle , .link, .description{
  @include fontSite(txt-default,1em,wregular);
}
.title_main{
  @include fontSite(titles,1.525em,wbold);
  @extend .title_default;
}
.title_banner{
  @include fontSite(txt-default,2.325em,wsemibold);
  text-transform: uppercase;
}
.subtitle_banner{
  @include fontSite(txt-default,1.525em,wthin);
}
.select-default{
  appearance: none;
  border-radius: 0;
  border-bottom: 1px solid #bbbbbb;
  color: #bbbbbb;
  font-size: 1em;
  padding: 5px 0;
  width: 100%;
}
input{
  &[type=text],
  &[type=password]{
    @include fontSite(txt,1em,wregular);
    width: 100%;
  }
  margin: 3px;
  border: 1px solid $scolor-darkgray;
  padding: 8px 12px;
}