doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Bfy.me - Minha Contas
		link(rel="stylesheet" href="css/styles.css")
	body
		main.wrapper-account
			.container
				ul(role="tablist").tabs
					li
						input(type="radio" name="tabs" id="tab1" checked)
						label(for="tab1" role="tab" ria-selected="true" aria-controls="panel1" tabindex="0") CLIENTE
						div(role="tabpanel" aria-labelledby="cliente" aria-hidden="false")#tab-content1.tabs-content
							.tab
								input(type="radio" name="tabs2").tab-input#tab-four
								label(for="tab-four").label-tab Agendamentos
								.tab-content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.tab
								input(type="radio" name="tabs2").tab-input#tab-dados
								label(for="tab-dados").label-tab Dados Cadastrais
								.tab-content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.tab
								input(type="radio" name="tabs2").tab-input#tab-end
								label(for="tab-end").label-tab Endereços
								.tab-content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.tab
								input(type="radio" name="tabs2").tab-input#tab-fin
								label(for="tab-fin").label-tab Dados Financeiros
								.tab-content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.tab
								input(type="radio" name="tabs2").tab-input#tab-req
								label(for="tab-req").label-tab Recomendações
								.tab-content
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li
						input(type="radio" name="tabs" id="tab2")
						label(for="tab2" 	role="tab" aria-selected="false" aria-controls="panel2" tabindex="0") PROFISSIONAL
						div( role="tabpanel" aria-labelledby="profissional"  aria-hidden="true")#tab-content2.tabs-content
							p TESTE2kkkkkkkkkkkkkkkkkkkkkkk

									
