doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title Bfy.me - Minha Contas
		link(rel="stylesheet" href="css/styles.css")
	body
		main.wrapper-account
			.container
				ul(role="tablist").tabs
					li
						input(type="radio" name="tabs" id="tab1" checked)
						label(for="tab1" role="tab" ria-selected="true" aria-controls="panel1" tabindex="0") CLIENTE
						div(role="tabpanel" aria-labelledby="cliente" aria-hidden="false")#tab-content1.tab-content
							p TESTE			
					li
						input(type="radio" name="tabs" id="tab2")
						label(for="tab2" 	role="tab" aria-selected="false" aria-controls="panel2" tabindex="0") PROFISSIONAL
						div( role="tabpanel" aria-labelledby="profissional"  aria-hidden="true")#tab-content2.tab-content
							p TESTE2kkkkkkkkkkkkkkkkkkkkkkk

									
