doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css")
  body
    .foo.banner_default.banner-quest
      header.header-flex
        .container
          .brand
            img(src="images/bfyme.svg" alt="")
          button.icon-menu
            span.icon-hamburguer
          nav.menu
            span.title.hidden-lg Menu
            ul.menu-navegation
              li.menu-item.link.hidden-lg Entrar
              li.menu-item.link
                a.menu-link(href="#") Serviços
                ul.dropdown
                  li.menu-item-dropdown
                    a.menu-link-dropdown(href="") Maquiagem
                  li.menu-item-dropdown
                    a.menu-link-dropdown(href="") Massagem
                  li.menu-item-dropdown
                    a.menu-link-dropdown(href="") Manicure
                  li.menu-item-dropdown
                    a.menu-link-dropdown(href="") Podologia
                  li.menu-item-dropdown
                    a.menu-link-dropdown(href="") Penteado
              li.menu-item.link 
                a.menu-link(href="#") Dúvidas
              li.menu-item.link
                a.menu-link(href="#") Seja um profissional
          button.btn.btn-login Entrar
      .main-banner
        h2.title.title_banner Encontre as dúvidas mais comuns aqui
        h3.subtitle.subtitle_banner Respostas às perguntas frequentes de clientes e profissionais
    section.quests
      .quest-user
        .container
          h4.title Clientes
          .card
            .card-head
              h5.title Como funciona?
              //- botao saiba mais
              button +
            .card-details
              p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .quest-pro
          h4.title Profissionais
          .card
            .card-head
              h5.title Como funciona?
              //- botao saiba mais
              button +
            .card-details
              p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    footer.foo
      .container
        .wrapper-flex.footer
          .brand
            h1.title Bfy.me
          .social
            .icons
              a.social-link(href="")
                img(src="images/icons/icon-facebook.svg" alt="Facebook")
              a.social-link(href="")
                img(src="images/icons/icon-instagram.svg" alt="Instagram")
              a.social-link(href="")
                img(src="images/icons/icon-twitter.svg" alt="Twitter")
            span Bfy.me - Todos os direitos reservados 2017
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/jquery-migrate-3.0.0.min.js")
    script(src="js/main.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js")