doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css")
  body
    .foo.banner_default
      include includes/header.pug
      section.main-banner
        h2.title_default.title_banner Encontre as dúvidas mais comuns aqui
        h3.subtitle_default.subtitle_banner Respostas às perguntas frequentes de clientes e profissionais
    section.quests
      .quest-user
        .container
          h4.title Clientes
          .card
            .card-head
              h5.title Como funciona?
              //- botao saiba mais
              button +
            .card-details
              p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .quest-pro
          h4.title Profissionais
          .card
            .card-head
              h5.title Como funciona?
              //- botao saiba mais
              button +
            .card-details
              p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    include includes/footer.pug