doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css")
    
    
  body
    .foo.banner
      header
        .container
          .header-flex
            .brand
              img(src="images/bfyme.svg" alt="")
            button.icon-menu
              span.icon-hamburguer
            nav.menu
              span.title.hidden-lg Menu
              ul.menu-navegation
                li.menu-link.link.hidden-lg Entrar
                li.menu-link.link Serviços
                li.menu-link.link Dúvidas
                li.menu-link.link Seja um profissional
            button.btn.btn-login Entrar
      section.main-banner
        .container
          .wrapper
            .featured
              h1.title A sua beleza a 
                span toda hora
            .banner-schedule
              h2.title Não perca tempo e comece a usar agora
              form.schedule-form
                fieldset.field
                  select.select-default
                    option Escolha o serviço
                fieldset.field
                  select.select-default
                    option Qual o local para atendimento?
                fieldset.field
                  select.select-default
                    option Quando dia?
                fieldset.field
                  select.select-default
                    option Quando horário?
                button.btn(type="submit") Agendar
    section.how_it_works
      .container
        .wrapper-flex.how_it_works
          h3.title.unflex Como funciona?
          h4.subtitle.unflex É mais simples do que você imagina
          .flexchild.calendar
            .title Agendamento no mesmo dia
            .description Só com o Bfy.me você pode agendar um serviço no mesmo dia
          .flexchild.location
            .title Atendimento Delivery
            .description Você pode agendar seu serviço em qualquer localidade do estado
          .flexchild.price
            .title Preços de mercado
            .description Praticamos os preços de mercado para que você use cada vez mais
    section.services
      .container
        .wrapper-slider.slider
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
          article.item-slider
            .service-image
              h4.title Manicure
            .service-details
              h5.subtitle A partir de
                <br/> R$ <span> 70,00</span>
              p Lorem ipsum lorem ipsum lorem ipsum
              button.btn Visualizar
    .foo.promo
      .container
        h3.title Convide amigos e ganhe desconto
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/jquery-migrate-3.0.0.min.js")
    script(src="js/main.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js")
    