doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css")
  body
    include includes/header.pug
    .foo.banner.banner_default
      section.main-banner
        .container
          .wrapper
            .featured
              h1.title_default.title_banner A sua beleza a 
                span toda hora
            .banner-schedule
              h2.title Não perca tempo e comece a usar agora
              form.schedule-form
                fieldset.field
                  select.select-default
                    option Qual serviço deseja?
                fieldset.field
                  select.select-default
                    option Qual dia?
                fieldset.field
                  select.select-default
                    option Qual o horário?
                button.btn(type="submit") Agendar
    //- SECTION COMO FUNCIONA
    section.foo.how_it_works
      .container
        .wrapper-flex.how_it_works
          h3.title_default.clearflex Como funciona?
          h4.subtitle_default.clearflex É mais fácil do que você imagina
          .flexchild.calendar
            h5.title Agendamento no mesmo dia
            p.description Só com o Bfy.me você marcar serviços no mesmo dia de solicitação
          .flexchild.location
            h5.title Atendimento Delivery
            p.description Você pode agendar seu serviço em qualquer localidade da capital de São Paulo e região
          .flexchild.professional
            h5.title Profissionais qualificados
            p.description Os profissionais passam por uma triagem para garantir qualidade em seus atendimentos
          .flexchild.price
            h5.title Preços de mercado
            p.description Praticamos os preços de mercado para que você use cada vez mais nossa plataforma
    //- SECTION SERVIÇOS SLIDER
    section.foo.slider-services
      .container
        h3.title_default.clearflex Serviços oferecidos
        h4.subtitle_default.clearflex Conheça mais os serviços oferecidos
        .slider-content
            .item
              .service-image
                picture
                  img(src="images/services/skin.jpg" alt="Massoterapia")
              .service-details
                h5.subtitle A partir de
                  <br/> R$ <span>140,00</span>
                h4.title Massoterapia
                p.description Direcionada de acordo com a necessidade do cliente.
                button.btn
                  a(href="servicos.html") Agendar
            .item
              .service-image
                picture
                  img(src="images/services/makeup.jpg" alt="Maquiagem Simples")
              .service-details
                h5.subtitle A partir de
                  <br/> R$ <span>30,00</span>
                h4.title Maquiagem Simples
                p.description Moderna e com requinte para você curtir qualquer evento.
                button.btn
                  a(href="servicos.html") Agendar
            .item
              .service-image
                picture
                  img(src="images/services/nailmaker.jpg" alt="Manicure Simples")
              .service-details
                h5.subtitle A partir de
                  <br/> R$ <span>25,00</span>
                h4.title Manicure Simples
                p.description Realizado a limpeza das unhas e esmaltação.
                button.btn
                  a(href="servicos.html") Agendar
            .item
              .service-image
                picture
                  img(src="images/services/oil-masseur.jpg" alt="Massagem Relaxante")
              .service-details
                h5.subtitle A partir de
                  <br/> R$ <span>60,00</span>
                h4.title Massagem Relaxante
                p.description Aumenta a circulação sanguínea, alivia o stress e tensão muscular.
                button.btn
                  a(href="servicos.html") Agendar
            .item
              .service-image
                picture
                  img(src="images/services/clean-face.jpg" alt="Limpeza de pele")
              .service-details
                h5.subtitle A partir de
                  <br/> R$ <span>80,00</span>
                h4.title Limpeza de pele
                p.description Para desobstruir os poros, extrair comedões e espinhas
                button.btn
                  a(href="servicos.html") Agendar
    //- SECTION DEPOIMENTOS
    section.foo.depositions
      .container
        .wrapper-flex.depositions
          h3.title_default.clearflex Depoimentos
          h4.subtitle_default.clearflex O que dizem dos nossos serviços
          article.flexchild.item
            picture.profile-img
              img(src="images/profiles/beautiful-woman_3.jpg" alt="")
            p.description Usei o Bfy.me para fazer uma massagem relaxante e depilação. Amei o serviço, pois atendeu na minha casa e a profissional foi competente com seu trabalho.
            h5.author Mariana Roussef - <span>São Paulo</span>
          article.flexchild.item
            picture.profile-img
              img(src="images/profiles/beautiful-woman_2.jpg" alt="")
            p.description Usei o Bfy.me para fazer uma massagem relaxante e depilação. Amei o serviço, pois atendeu na minha casa e a profissional foi competente com seu trabalho.
            h5.author Mariana Roussef - <span>São Paulo</span>
          article.flexchild.item
            picture.profile-img
              img(src="images/profiles/beautiful-woman_3.jpg" alt="")
            p.description Usei o Bfy.me para fazer uma massagem relaxante e depilação. Amei o serviço, pois atendeu na minha casa e a profissional foi competente com seu trabalho.
            h5.author Mariana Roussef - <span>São Paulo</span>
    .modal-overlay
    .modal
    include includes/footer.pug
    