doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/main.css")
  body
    .foo-banner
      header
        .container
          .header-flex
            h1.title Bfy.me
            button.icon-menu
              span.icon-hamburguer
            nav.menu
              span.title.hidden-lg Menu
              ul.menu-navegation
                li.menu-link.link.hidden-lg Entrar
                li.menu-link.link Serviços
                li.menu-link.link Dúvidas
                li.menu-link.link Seja um profissional
            button.btn.btn-login Entrar
      section.main-banner
        .container
          .wrapper-flex
            .banner
              h1.title A sua beleza a 
                span toda hora
              p.description Conheça nossa plataforma 
                | e aproveite as vantagens de utilizar serviços delivery
            .banner-schedule
              h2.title Comece a usar o Bfy.me
              form.schedule-form
                fieldset.field
                  select.select-default
                    option Escolha o serviço
                fieldset.field
                  select.select-default
                    option Quando deseja ser atendido?
                fieldset.field
                  select.select-default
                    option Qual o local para atendimento?
                button.btn(type="submit") Agendar
    script(src="js/main.js")