header.header-flex
	.container
		.brand
			img(src="images/bfyme.svg" alt="")
		button.icon-menu
			span.icon-hamburguer
		nav.menu
			span.title.hidden-lg Menu
			ul.menu-navegation
				li.menu-link.link.hidden-lg Entrar
				li.menu-link.link Serviços
				li.menu-link.link Dúvidas
				li.menu-link.link Seja um profissional
		button.btn.btn-login Entrar