doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/styles.css")
  body#duvidas
    .foo.banner_default
      include includes/header.pug
      section.main-banner
        h2.title_default.title_banner Seja um Profissional
        h3.subtitle_default.subtitle_banner Lorem ipsum lorem ipsum lorem ipsum
    section.profissional
      .container
        h3.title_default.clearflex Como funciona para o profissional?
        h4.subtitle_default.clearflex Processos simples que trazem uma renda extra
        .item-profissional
          h5.title Match
        .item-profissional
          h5.title Ordem de Serviço
        .item-profissional
          h5.title Comissão
    section.cta_profissional
      h1.title Conheça todas as nossas vantagens. Seja nosso parceiro.
      button.btn Seja um parceiro Bfy.me
    section.advantages
      h3.title_default.clearflex Vantagens
      h4.subtitle_default.clearflex É muito simples de usar, vaja abaixo as dicas
      article.card-profissional
        h5.title Compromisso
        p.description Assim que o cliente finalizar o agendamento e seu pagamento enviaremos imediatamente a você a confirmação com todos os dados do serviço.
      article.card-profissional
        h5.title Controle
        p.description Assim que o cliente finalizar o agendamento e seu pagamento enviaremos imediatamente a você a confirmação com todos os dados do serviço.
      article.card-profissional
        h5.title Tempo
        p.description Assim que o cliente finalizar o agendamento e seu pagamento enviaremos imediatamente a você a confirmação com todos os dados do serviço.
    include includes/footer.pug