doctype
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Bfy.me
    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css")
  body
    .foo.banner_default.banner-services
      include includes/header.pug
      section.main-banner
        h2.title_default.title_banner Conheça os nossos serviços de beleza
        h3.subtitle_default.subtitle_banner Há uma gama de serviços diversificados para você conhecer!
    section.services
      .wrapper-foo
        .container
          h3.title_default.clearflex Maquiagem
          h4.subtitle_default.clearflex Descubra nossas opções de serviço
          .services-filter
            form.services-form(action="buscar" method="GET")
              fieldset.field
                input.input-form(type="search" name="buscarServico" placeholder="Digite o serviço que gostaria de buscar") 
              button.btn(type="submit") Procurar
          .services-box
            .service-item
              .service-item-details
                h4.title Maquiagem
                span.time 45 minutos
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .service-item-price
                p.price R$ 
                  span 60
                button.btn
                  a(href="schedule.html") Agendar
            .service-item
              .service-item-details
                h4.title Maquiagem simples
                span.time 45 minutos
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .service-item-price
                p.price R$ 
                  span 30
                button.btn
                  a(href="schedule.html") Agendar
            .service-item
              .service-item-details
                h4.title Maquiagem artística
                span.time 45 minutos
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .service-item-price
                p.price R$ 
                  span 90
                button.btn
                  a(href="schedule.html") Agendar
    include includes/footer.pug