// ==================================================
// Variables
//
// 1. Colors
// 2. Media Queries
// 3. Z-Index
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

// ##### Paleta de cores primárias
$pcolor-violet: rgba(34, 13, 85, 1);
$pcolor-darkpurple:rgba(57, 20, 73, 1);
$pcolor-lightpurple:rgba(94, 68, 143, 1);
$pcolor-pink:rgba(152, 6, 110, 1);

// ##### Paleta de cores secundárias
$scolor-darkblack:rgba(33, 33, 33, 1);
$scolor-darkgray:rgba(50, 50, 50, 1);
$scolor-darkgold:rgba(157, 156, 122, 1);
$scolor-lightgold:rgba(224, 237, 197, 1);


// --------------------------------------------------
// 2. Media-queries
// --------------------------------------------------
