// ==================================================
// Variables
//
// 1. Colors
// 2. Font Family
// 3. Media Queries
// 4. Z-Index
// ==================================================

// --------------------------------------------------
// 1. Colors
// --------------------------------------------------

// ##### Paleta de cores primárias
$pcolor-violet: rgba(34, 13, 85, 1);
$pcolor-darkpurple:rgba(57, 20, 73, 1);
$pcolor-lightpurple:rgba(94, 68, 143, 1);
$pcolor-pink:rgba(152, 6, 110, 1);

// ##### Paleta de cores secundárias
$scolor-darkblack:rgba(33, 33, 33, 1);
$scolor-darkgray:rgba(50, 50, 50, 1);
$scolor-darkgold:rgba(157, 156, 122, 1);
$scolor-lightgold:rgba(224, 237, 197, 1);


// --------------------------------------------------
// 2. Font Family
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i');


@mixin font-family($family){
  @if $family == titles{
    font-family: 'Cabin', sans-serif;
  }
  @if $family == txt-default{
    font-family: 'Source Sans Pro', sans-serif;
  }
}

// --------------------------------------------------
// 2.b Weight
// --------------------------------------------------

@mixin font-weight($weight){
  @if ($weight == wbold){
    font-weight: 700;
  }
  @if ($weight == wsemibold){
    font-weight: 600;
  }
  @if ($weight == wregular){
    font-weight: 400;
  }
  @if ($weight == wlight){
    font-weight: 300;
  }
  @if ($weight == wthin){
    font-weight: 100;
  }
}

// --------------------------------------------------
// 3. Media-queries
// --------------------------------------------------
