footer.foo.footer
  .container
    .brand
      svg
        use(xlink:href="images/icons.svg#logo")
    .social
      p.description_mini Conheça nossa plataforma e aproveite as vantagens de utilizar serviços delivery
      .icons
        a.social-link(href="#" title="Facebook")
          img(src="images/icons/icon-facebook.svg" alt="Facebook")
        a.social-link(href="#" title="Instagram")
          img(src="images/icons/icon-instagram.svg" alt="Instagram")
        a.social-link(href="#" title="Twitter")
          img(src="images/icons/icon-twitter.svg" alt="Twitter")
        a.social-link(href="#" title="Google Plus")
          img(src="images/icons/icon-google.svg" alt="Google Plus")
      span Bfy.me - Todos os direitos reservados 2017
script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src="js/main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js")