header
  .container-header
    a(href="index.html").brand
      svg
        use(xlink:href="images/icons.svg#logo")
    input(type="checkbox" id="label-login" name="login")
    label(for="label-login").label-login
      span.icon-hamburguer
    nav.menu
      ul.menu-navegation
        li.item.hidden-lg 
          a(href="login.html") Entrar
        li.item.servicos: a(href="#dropdown") Serviços
          .icon-arrow
          #dropdown
              a.menu-link-dropdown(href="servicos.html") Maquiagem
              a.menu-link-dropdown(href="servicos.html") Massagem
              a.menu-link-dropdown(href="servicos.html") Manicure
              a.menu-link-dropdown(href="servicos.html") Podologia
              a.menu-link-dropdown(href="servicos.html") Penteado
        li.item: a(href="duvidas.html") Dúvidas
        li.item: a(href="profissional.html") Seja um profissional
    a(href="login.html").btn.btn-login Entrar
    //input(type="checkbox" name="menu-account" id="menu-account")
    //label(for="menu-account").btn.btn-login.label-menu-account
      | Olá, Mariana
      .arrow-menu
    //ul.menu-account
      li: a(href="#") Minha Conta
      li: a(href="#") Conta Profissional
      li: a(href="#") Sair da Conta