header.header-flex
  .container
    .brand
      img(src="images/bfyme.svg" alt="")
    button.icon-menu
      span.icon-hamburguer
    nav.menu
      span.title.hidden-lg Menu
      ul.menu-navegation
        li.menu-item.link.hidden-lg Entrar
        li.menu-item.link
          a.menu-link(href="#") Serviços
          ul.dropdown
            li.menu-item-dropdown
              a.menu-link-dropdown(href="") Maquiagem
            li.menu-item-dropdown
              a.menu-link-dropdown(href="") Massagem
            li.menu-item-dropdown
              a.menu-link-dropdown(href="") Manicure
            li.menu-item-dropdown
              a.menu-link-dropdown(href="") Podologia
            li.menu-item-dropdown
              a.menu-link-dropdown(href="") Penteado
        li.menu-item.link 
          a.menu-link(href="#") Dúvidas
        li.menu-item.link
          a.menu-link(href="#") Seja um profissional
    a(href="#login").btn.btn-login Entrar
    input(type="checkbox" name="menu-account" id="menu-account")
    //label(for="menu-account").btn.btn-login.label-menu-account
      | Olá, Mariana
      .arrow-menu
    //ul.menu-account
      li: a(href="#") Minha Conta
      li: a(href="#") Conta Profissional
      li: a(href="#") Sair da Conta
